@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<MvcStock.Models.Entity.TblCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var categories in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@categories.CategoryName</td>
                <td><a href="/Categories/DeleteCategory/@categories.CategoryID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Categories/UpdateCategory/@categories.CategoryID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Categories/AddCategory/" class="btn btn-primary">Yeni Kategori Ekle</a>