@model MvcStock.Models.Entity.TblProduct

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="ProductName" required="" maxlength="20" />

        <label>Kategori Seçin</label>
        @Html.DropDownListFor(m => m.TblCategory.CategoryID, (List<SelectListItem>)ViewBag.value, new {@class="form-control"}) 

        <label>Marka</label>
        <input type="text" class="form-control" name="ProductBrand" placeholder="Buraya Markayı Yazınız." required="" />

        <label>Stok</label>
        <input type="text" class="form-control" name="ProductStock" />

        <label>Fiyat</label>
        <input type="text" class="form-control" name="ProductPrice" />

    </div>
    <div style="margin-top: 10px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>